$buttonColor : rgb(216, 126, 41);
$text : #fff;


.form{
    margin-top: 30px;
    display: flex;
}


.input {
  position: relative;
    padding:15px;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.button{
  position: absolute;
  left: 60%;
  font-weight: bold;
  padding:15px;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  color: $text;
  background-color:$buttonColor;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.city {
  color: transparent;
}